
</html>
        <h1>Hello, Hanumant !</h1>
    </body>
		<form action="{{ url_for('submit') }}" method="post">
			<p>Name:</p>
			<p><input type="text" name="nm" /></p>
			<p><textarea name="inputreviews"></textarea></p>
			<p><input type="submit" value="Submit" /></p>
		</form>
</html>

<!-- <html> -->
    <!-- <head> -->
        <!-- <title>{{ title }} - Keyphrase Extraction Engine</title> -->
    <!-- </head> -->
    <!-- <body> -->
        <!-- <h1>Hello, {{ user.username }}!</h1> -->
    <!-- </body> -->
<!-- </html> -->